.cita-croppable {
    margin-bottom: 1rem;
}

.cita-croppable-dialog {
    box-sizing: border-box;
    width: 100% !important;
    height: 96vh !important;
}

.cita-croppable-dialog * {
    box-sizing: border-box;
}

.cita-croppable-dialog ul.nav-tabs {
    display: none;
}
